body {
    background-color: grey;
    font-size: large;

}
p {

font-size: large; 
    color: black;

   
}
p .sadaļas {
    font-size:larger;  
    color: black;
}
h1 {
    padding-left: 40px;
}
a {color:lightcoral;}

.dzīvnieks {
border-style: double;
border-color: rgb(233, 33, 33);

}
.redtext{
    color: darkmagenta;
}



div.full {
    background-color: dimgray;
 }
    
      

}

div.kreisais {
    background-color:aqua


}
   
}
div.labais {

    background-color: lightsalmon;
    font-size: large;
    text-align: left;
  
    
}