body {
    background-color: darkgoldenrod;
}
p {
    border-style: groove;
    color: darkgreen;
    border-color: black;
   
}
h1 {
    padding-left: 40px;
}
a {color: red;}

.dzīvnieks {
border-style: double;
border-color: rgb(233, 33, 33);

}
.redtext{
    color: darkmagenta;
}

#specialButton{color: darkmagenta;
background-color: rgb(43, 255, 0);}

div.full {
    min-height: 100px;
    background-color: rgb(42, 165, 93);
    display: grid;
    grid-template-columns: 10% 50% 40%;

}

div.kreisais {
    color: blue;
}
div.labais {
    color: darkorange;
    min-height: ;
}